[Desktop Entry]
Name=Change Output Device
StartupWMClass=change.sh
Comment=Shell script that uses zenity to change output device.
GenericName=Change Output Device
Exec=/path/to/script/linux-beginner-guide/audio/change-output-device/change.sh
Icon=/path/to/script/linux-beginner-guide/audio/change-output-device/icons/output.png
Type=Application
Categories=Utilities;
Terminal=false
