[Desktop Entry]
Name=Change Output Device
StartupWMClass=change.sh
Comment=Shell script that uses zenity to change output device.
GenericName=Change Output
Exec=bash /home/<your-username>/Downloads/changing-output-device/change.sh
Icon=/home/<your-username>/Downloads/changing-output-device/icons/output.png
Type=Application
Categories=Utilities;
Path=/usr/bin
Path=/usr/bin

